@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    max-width: 100% !important;
    height: 100vh;
    margin: 0 0 !important;
    padding: 0 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/Logo\ Rose\ Illustration\ Mains\ Ongles.png) no-repeat center;
    background-color: #F5EFEF;
    font-family: "Open Sans";
}

.title h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 25px;
    color: #eccfd1;
}

.title {
    margin-bottom: 35px;
}

.title hr {
    width: 70%;
    margin: auto;
    color: #eccfd1;

}

/* Data Input */

.input-data-wrapper {
    width: 90%;
    height: 80vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.input-data {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputs hr {
    padding: 0;
    margin: 0;
    width: 40px;
    color: rgba(103, 44, 102, 0.589);
    ;
}

label {
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgba(103, 44, 102, 0.589);
}

input {
    width: 40%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(103, 44, 102, 0.589);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1% 3%;
    text-align: right;
}



.result {
    width: 100%;
    height: 30%;
    font-size: 52px;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgba(103, 44, 102, 0.589);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}